python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-qdrant
langgraph
langsmith
pydantic
qdrant-client
sentence-transformers
tqdm
fastapi
uvicorn
pydantic-settings
httpx
rank_bm25
redis
redisvl
